html{
    background-color: black;
}
.libre-baskerville-regular{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

h1{
    text-align: center;
    color: white;
    text-transform: capitalize;
}

h2{
    text-align: center;
    color: white;
    font-weight:100;
    font-size: 20px;
}

#image{
    margin-left: 25% ;
    width: 50%;
}

img{
    width: 100%;
    border: solid white;
}

.centre{
    text-align: center;
}