body {
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #DCEFFD 0%, #FFFEF7 50%, #F9E4EC 100%);
    display: flex;
    flex-direction: column;
}

sub {
    font-size: 18px;
}

h1.tophead {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-weight: 700;
}

#me {
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1#me~p{
    font-style: oblique;
}

.float button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #222;
    transition: color 0.2s ease, transform 0.2s ease;
    flex: 1;
}

._btn:active {
    transform: scale(1.1);
}

._btn.active {
    text-decoration: underline;
}

.float {
    display: flex;
    margin-left: 10%;
}

.float button:hover {
    color: #7fc9df;
    transform: translateY(-2px);
}


.intro-wrap {
    display: flex;
    justify-content: flex-start;
}

.intro {
    margin-top: 10%;
    padding-left: 20%;
}

.intro h1 {
    margin-bottom: 1px;
    font-weight: 400;
}

.intro p.sub {
    margin-bottom: 10px;
    margin-top: 1px;
}

.intro p.sentence {
    margin-top: 5px;
    margin-bottom: 0;
}

.card.contents {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    display: none;
    width: 70%;
    padding: 30px;
}

.card.display {
    display: flex;
}

.panel {
    padding: 40px;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    transform: translateY(40px);
    opacity: 0;
    transition: all 0.35s ease;
}

.card.display .panel {
    transform: translateY(0);
    opacity: 1;
}

.footer {
    margin-top: auto;
    padding: 20px 10%;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}

.footer-right {
    display: flex;
}

.footer-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #222;
    transition: opacity 0.2s ease;
    flex: 1;
}

.footer-right a:hover {
    opacity: 0.6;
}

#ligreen {
    color: rgb(96, 212, 96);
}

#green {
    color: green;
}

#grey {
    color: grey;
}

#blue {
    color: rgb(51, 51, 254);
}